[submodule "pandoc"]
  path = pandoc
  url = git://github.com/jrbing/pandoc-templates.git
  ignore = dirty
[submodule "vim/plug"]
  path = vim/plug
  url = git://github.com/junegunn/vim-plug.git
  ignore = dirty
[submodule "tmux/oh-my-tmux"]
  path = tmux/oh-my-tmux
  url = git://github.com/gpakosz/.tmux
  ignore = dirty
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = git://github.com/zplug/zplug.git
  ignore = dirty
