[submodule "zsh/prezto"]
  path = zsh/prezto
  url = git://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "zsh/fasd"]
  path = zsh/fasd
  url = git://github.com/clvv/fasd.git
  ignore = dirty
[submodule "pandoc"]
  path = pandoc
  url = git://github.com/jrbing/pandoc-templates.git
  ignore = dirty
[submodule "opt/rainbarf"]
  path = opt/rainbarf
  url = git://github.com/creaktive/rainbarf.git
  ignore = dirty
[submodule "zsh/bd"]
  path = zsh/bd
  url = git://github.com/Tarrasch/zsh-bd.git
  ignore = dirty
[submodule "vim/bundle/vundle"]
  path = vim/bundle/vundle
  url = git://github.com/gmarik/vundle.git
  ignore = dirty
[submodule "opt/resty"]
  path = opt/resty
  url = git://github.com/micha/resty.git
  ignore = dirty
[submodule "opt/ansible"]
  path = opt/ansible
  url = git://github.com/ansible/ansible.git
  ignore = dirty
