{{- $platform := includeTemplate "platform.json.tmpl" . | fromJson -}}
{{ if eq $platform.os "linux" -}}
{{   if eq $platform.family "debian" -}}
{{       include "../install/linux/common/apt.sh" }}
{{       include "../install/linux/common/misc.sh" }}
{{   end -}}
{{ end -}}
