{{- $platform := includeTemplate "platform.json.tmpl" . | fromJson -}}
{{ if eq $platform.os "linux" -}}
{{   if eq $platform.family "debian" -}}
{{     include "../install/linux/common/apt.sh" }}
{{     include "../install/linux/common/mise.sh" }}
install_mise
{{   else if not $platform.omarchy -}}
{{     fail (printf "Invalid linux distribution: %s" $platform.distribution) }}
{{   end -}}
{{- end }}
