priority 0

snippet h1 "H1" b
# ${1:Section Name} #
$0
endsnippet

snippet h2 "H2" b
## ${1:Section Name} ##
$0
endsnippet

snippet h3 "H3" b
### ${1:Section Name} ###
$0
endsnippet

snippet h4 "H4" b
#### ${1:Paragraph Name} ####
$0
endsnippet

snippet h5 "H5" b
##### ${1:Paragraph Name} #####
$0
endsnippet

# vim:ft=snippets:
