<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.aria2</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/opt/aria2/bin/aria2c</string>
      <string>--enable-rpc</string>
      <string>--dir=/Users/jrbing/Downloads</string>
    </array>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/aria2.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/aria2-error.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
